[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fpdf = "*"
django = "*"
mysqlclient = "*"
"psycopg2" = "*"
"pypdf2" = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
django-widget-tweaks = "*"
pip = "*"


[dev-packages]



[requires]

python_version = "3.6"
