{% extends "base.html" %}

{% block content %}

    <form class="" action="formReview.html" method="post">
      <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          {% for customer in customers %}
          <button type="button" name="button" class="dropdown-item">{{customer}}</button>
          {% endfor %}
        </div>
    </form>

    <!-- TODO: --> add JSON fields to input fields

    <form class="review-info" action="makeacctpdf" method="post">
      <input type="text" name="cu_last_name" value="">
      <input type="text" name="cu_date_added" value="">
      <input type="text" name="cu_date_last_changed" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <input type="text" name="" value="">
      <button type="button" name="button" class="info-submit"> I am button</button>
    </form>


    <script type="text/javascript">
      let dropdownButtons = document.querySelectorAll('.dropdown-item')
      let box = document.querySelector('.box')
      let reviewInfoForm = document.querySelector('.review-info')
      let reviewInfoFormInputs = document.querySelectorAll('.review-info input')
      let submitToPDFButton = document.querySelector('.info-submit');

      dropdownButtons.forEach( button => {
        button.addEventListener('click', (e) => {
          let customer_name = button.textContent;
          let csrftoken = getCookie('csrftoken');
          let headers = new Headers();
          headers.append('X-CSRFToken', csrftoken);
          fetch(`/customer_info_to_review/${customer_name}/`, {
            method: 'POST',
            credentials: 'include',
            headers: headers
          }).then( data => {
            return data.json()
          }).then( data => {
            console.log(data)
            fillForm(data, reviewInfoFormInputs)

          }).catch( err => {
            console.log(err)
          })
        })
      })


      submitToPDFButton.addEventListener('click', (e) => {
        let reviewedCustomerInfo = {};
        reviewInfoFormInputs.forEach( input => {
          let key = input.getAttribute('name');
          reviewedCustomerInfo[key] = input.value;
        })
        let csrftoken = getCookie('csrftoken');
        let headers = new Headers();
        headers.append('X-CSRFToken', csrftoken);
        fetch('/makeAcctPdf/', {
          method: 'POST',
          credentials: 'include',
          headers: headers,
          body: JSON.stringify(reviewedCustomerInfo)
        }).then( data => {
          return data.json()
        }).then( data => {
          console.log(data)
          customerInfo = data
        }).catch( err => {
          console.log(err)
        })
      })
  //Taken from w3schools website for getting website cookies
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
  }

  function fillForm(info, inputs) {
    let i = 0
    for (key in info) {
      inputs[i].value = info[key];
      console.log(inputs.length, 'rawwar')
      if(i === inputs.length) {
        break;
      }
      i ++;
    }
  }
    </script>

{% endblock content %}
