{% extends "base.html" %}

{% block content %}

<div>
    <h4>Copying Titles</h4>
    <ul>
        <li><a href="#">Application for a Certified Copy of Title</a></li>
        <li><a href="#">Harris County Authorization Letter</a></li>
        <li><a href="#">Harris County Title Service Records</a></li>
        <li><a href="#">Limited Power of Attorney for Eligible Motor Vehicle Transactions</a></li>
        <li><a href="#">Prescribed Form for Release of Lien</a></li>
    </ul>
</div>
<div>
    <h4>Bonded Titles</h4>
    <ul>
        <li><a href="#">Harris County Bill of Sale to a Motor Vehicle</a></li>
        <li><a href="#">Harris County Title Service Records</a></li>
        <li><a href="#">Harris County Authorization Letter</a></li>
        <li><a href="#">Application for Title Only</a></li>
        <li><a href="#">Application for Texas Title</a></li>
        <li><a href="#">Limited Power of Attorney for Eligible Motor Vehicle Transactions</a></li>
        <li><a href="#">Prescribed Form for Release of Lien</a></li>
        <li><a href="#">Harris County Title Service Transactions Log </a></li>
        <li><a href="#">Harris County Bill of Sale to a Motor Vehicle</a></li>
    </ul>
</div>
<div>
    <h4>Title Transfer</h4>
    <ul>
        <li><a href="#">Harris County Title Service Transactions Log </a></li>
        <li><a href="#">Vehicle Identification Number Certification</a></li>
        <li><a href="#">Limited Power of Attorney for Eligible Motor Vehicle Transactions</a></li>
        <li><a href="#">Application for Texas Title</a></li>
        <li><a href="#">Application for Title Only</a></li>
        <li><a href="#">Harris County Authorization Letter</a></li>
        <li><a href="#">Harris County Title Service Records</a></li>
        <li><a href="#">Prescribed Form for Statement of Fact for Ownership of Homemade/Shopmade Trailer, Semitrailer, or Travel Trailer</a></li>
        <li><a href="#">Rights of Survivorship Ownership Agreement for a Motor Vehicle</a></li>
        <li><a href="#">Motor Vehicle Appraisal for Tax Collector Hearing / Bonded Title</a></li>
        <li><a href="#">Statement for Facts to Correct Error on Title</a></li>
    </ul>


</div>

{% endblock content %}