{% extends "base.html" %}

{% block content %}

    <form class="" action="formReview.html" method="post">
      <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          {% for customer in customers %}
          <button type="button" name="button" class="dropdown-item">{{customer}}</button>
          {% endfor %}
        </div>
    </form>

    <form class="" action="makeacctpdf" method="post">

    </form>


    <script type="text/javascript">

      let dropdownButtons = document.querySelectorAll('.dropdown-item')
      let box = document.querySelector('.box')

      dropdownButtons.forEach( button => {
        button.addEventListener('click', (e) => {
          let customer_name = button.textContent;
          var csrftoken = getCookie('csrftoken');
          var headers = new Headers();
          console.log(headers.get('X-CSRFToken'))
          headers.append('X-CSRFToken', csrftoken);
          fetch(`/customer_info_to_review/${customer_name}/`, {
            method: 'POST',
            credentials: 'include',
            headers: headers
          }).then( data => {
            return data.json()
          }).then( data => {
            console.log(data)
          }).catch( err => {
            console.log(err)
          })
        })
      })

  //Taken from w3schools website for getting website cookies
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
  }
    </script>

{% endblock content %}
