{% extends "base.html" %}

{% block content %}

{% if user.is_superuser %}

<div class="row d-flex justify-content-center" style="padding-top: 20px">
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete this vehicle record?</p>
        <input class="btn btn-primary" role="button" type="submit" />
        <a class="btn btn-secondary" href="/vehicles" role="button">Cancel</a>
    </form>
</div>

{% else %}

{% include "EzForm/login_redirect.html" %}

{% endif %}

{% endblock content %}